body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #ecc8af;
  border: 4rem solid #495867;
  width: 400px;
  height: 500px;
}

.quote-container button {
  background-color: darkturquoise;
  padding: 1em 1em;
  margin: 2em 2em;
  color: white;
  border-radius: 10% 10% 10% 10%;
  cursor: pointer;
}

.quote-container figure {
  color: #001f54;
  margin-right: 20;
  font-style: italic;
  overflow: hidden;
  position: relative;
  left: 130px;
}

.quote-container blockquote {
  color: #0a1128;
  font-size: 20px;
}
